* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Helvetica, sans-serif;
}

header {
    max-width: 1000px;
}

h1 {
    text-align: center;
    color: fuchsia;
}

img {
    width: 100%;
    display: block;
}

#centrale {
    text-align: center;
}

.container {
    max-width: 1200px; 
    margin: auto;
    display: flex; 
    flex-wrap: wrap; 
   
}

.card {
    background-color: black;
    margin: 5px;
    flex: 1;
    min-width: 300px;
    
}

.card_img {
    width: 100px;
    height: 100px;
    float: left; 
}

h2 {
    color: white;
}

#colore-p {
    color: white;
}

#colorblu {
    color: rgb(255, 127, 127);
}

a {
    color: blue;
    margin-top: 3px;
}
